.tabla-api{
    border-collapse: separate;
    width: 100%;
    border: 1px solid black;
}
td, th {
    border: 1px solid #ddd; 
    padding: 8px; 
    text-align: left; 
}
th {
    background-color: #48b5f0;
    color: black; 
}
img{
    width: 20px;
    height: 20px;
}