<table class="tabla-api">
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Air_Date</th>
    <th>Episode</th>
    <th>Characteres</th>
    <th>Url</th>
    <th>Created</th>
  </tr>
  @for (item of listaEpisodio; track $index) {
    @if (!(item.id % 2 == 0)) {
      <tr>
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.air_date}}</td>
        <td>{{item.episode}}</td>
        <td>{{item.characters}}</td>
        <td>{{item.url}}</td>
        <td>{{item.created}}</td>
      </tr>
    } 
  }  
</table>
  
